<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="description" content="School Countdown" />
		<meta name="og:title" content="Schooldown" />
		<meta name="og:description" content="School Countdown" />
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css2?family=Martian+Mono:wght@600&display=swap"
		/>
		<link rel="favicon" href="./favicon.ico" />
		<title>Schooldown</title>
	</head>
	<body>
		<slot />
	</body>
</html>
